<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

<div class="input">
    <form action="" method="get">
        <label>
            UID: <input name="uid" required>
        </label>
        <input type="submit" value="Получить">
    </form>
</div>

<div>
    {{ if .order }}
        {{ template "order" .order }}
    {{ else }}
        Пусто
    {{ end }}
</div>

<style>
    td,
    th {
        padding: 1px;
        border: 1px solid black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        background-color: lightgray;
    }

    .input {
        margin-bottom: 24px;
    }

    .data {
        margin-bottom: 24px;
    }

    .data span {
        font-weight: bold;
    }
</style>

</body>
</html>